{% extends "base.html" %}
{% block content %}
    <h3 style="text-align: center; margin: 20px;">About SWaViS</h3>
        <p style="margin: 30px; font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed est ac ex pretium imperdiet id et erat.
            Integer maximus, nunc rhoncus fringilla imperdiet, ex justo vehicula sapien, a auctor eros massa at metus.
            Sed bibendum finibus eros, ut vehicula lorem fermentum non. Vestibulum justo magna, vestibulum id lacus in,
            euismod faucibus nisi. Nam gravida vestibulum interdum. Vivamus gravida sapien et iaculis rutrum. Sed
            vulputate turpis nulla, lobortis mollis augue ornare sed. Vestibulum euismod turpis ut purus accumsan, ut
            venenatis erat posuere. Nulla vehicula molestie justo, vel sollicitudin nisl pharetra quis. Ut fringilla,
            tortor non mollis maximus, ligula lorem blandit sem, vitae auctor lectus turpis eu erat. Cras mollis libero
            nec dolor convallis interdum. Ut sit amet sem vel enim scelerisque rutrum. Donec justo leo, blandit ut mi ac,
            pharetra accumsan nisl. Suspendisse accumsan ornare consequat. Pellentesque quis elit in lacus aliquam
            pretium finibus sed quam. Duis vehicula enim non quam congue pharetra.
Maecenas auctor libero quis nisl convallis iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            sed dui bibendum, feugiat est non, tristique eros. Phasellus venenatis vulputate justo, sed pretium
            arcu feugiat a. Nulla ac ipsum congue, commodo nisl nec, lobortis dolor. Vivamus maximus massa eget ullamcorper
            cursus. Aliquam erat volutpat. Fusce arcu sapien, iaculis gravida leo nec, consectetur ornare nulla. Aenean
            condimentum laoreet finibus. Aliquam mauris risus, dictum ut congue id, rhoncus et erat. Nulla a consectetur
            neque, ut consectetur turpis. Nam lobortis fringilla accumsan. Sed facilisis efficitur velit, vel fringilla
            orci consectetur ac. Cras in augue non massa pretium pharetra ac sit amet nibh.</p>
{% endblock %}
{% block scripts %}
 {{super()}}
{% endblock %}