{% extends "base.html" %}
{% block content %}
<button id="clickmeAIA" class="btn btn-dark" style="margin: 50px;" data-toggle="collapse" href="#collapseBody"
        role="button" aria-expanded="false" aria-controls="collapseExample">
     <img src="./static/AIA.png" width="20" margin=50"/> AIA Images
</button>
<div class="row" id="collapseBody" style="display: none;margin: 35px;">
    <div class="card card-body">
    <div class='col-sm-6'>
        <h4>Insert search informations:</h4>
        <label>Date: </label>
            <input id="AIADatePicker" type="text" theme="dark">
        <label style="display: table-row;">Measurements: </label>
          <select class="custom-select" id="inputGroupSelect01" style="width: 65px;">
            <option value="94">94</option>
            <option value="131">131</option>
            <option value="171" selected>171</option>
            <option value="193">193</option>
            <option value="211">211</option>
            <option value="304">304</option>
            <option value="335">335</option>
            <option value="1600">1600</option>
            <option value="1700">1700</option>
            <option value="4500">4500</option>
          </select>
          <input type="checkbox" aria-label="AIA-info" id="AIA-info" checked="checked">
            <label>Info</label>
          <input type="checkbox" aria-label="AIA-image" id="AIA-image">
            <label>Image</label>
        <button id="plotAIA" class="btn btn-dark" style="margin-left: 5px;">Plot</button>
        <button class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample" style=" display: flex; margin-top: 5px; margin-bottom: 5px;">
            TimeSeries Options
        </button>
        <div class="collapse" id="collapseExample" style="width: 190px;">
          <div class="card card-body">
           <label>Start date: </label>
            <input id="startDatePicker" type="text" theme="dark">
              <label>End date: </label>
            <input id="endDatePicker" type="text" theme="dark">
              <button class="btn btn-dark" style="width: 90px; margin-top: 5px;">Get TimeSeries</button>
          </div>
        </div>
    </div>
    </div>
</div>

<!--<button id="clickmeEIT" class="btn btn-default" style="margin: 50px;">-->
     <!--<img src="./static/EIT.png" width="20" margin=50"/> EIT Images-->
<!--</button>-->
<div id="loader"></div>
{% endblock %}
{% block scripts %}
 {{super()}}
{% endblock %}